#page-body {
  align-items: center;
  margin: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.alert {
  padding-top: 40px;
  padding-left: 40px;
}

.summary {
  border-radius: 40px;
  border-style: ridge;
  height: 200px;
  width: 250px;
  transition: background-color 2s;
  transition: width 2s, height 2s;
}

.card {
  border: none;
}

.summary:hover {
  background-color: grey;
  width: 400px;
  height: 400px;
}

p {
  font-family: papyrus;
}

#my_table {
  margin-left: 10px;
  background-color: royalblue;
  transition: 2s;
}

table1 {
  margin-left: 250px;
  display: flex;
  position: relative;
}

tbody {
  display: flex;
}

tr {
  flex-basis: 20%;
  display: flex;
  flex-wrap: wrap;
}

#invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 2s linear;
}

#visible {
  overflow-y: hidden;
  visibility: visible;
  margin-top: 100px;
  transition: 2s;
}

#project {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.adminRow {
  width: 78vw !important;
  margin-top: -10px !important;
}

.list {
  opacity: 0;
  -webkit-transition: opacity 2000ms linear;
  transition: opacity 2000ms linear;
  position: absolute;
  left: 40px;
  top: 40px;
}

img {
  width: 50px;
}

div {
  /* border: outset; */
}

.changeDim {
  width: 100%;
  min-height: 100px;
}

.slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.Mcontainer {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  height: 200vh;
  width: 100%;
  background-color: #132226;
}

.form-control {
  max-width: 80%;
  margin-left: 3vw;
}

.AdminLoginForm {
  margin-top: 16vh;
  /* border: groove; */
  min-height: 40vh;
  padding-bottom: 16vh;
  border-radius: 15px;
  background: #c2d3da;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 30vw;
  padding-right: 3vw;
}

.signInButton {
  margin-top: 4vh;
  margin-bottom: -7vh;
  margin-left: 5% !important;
}

.adminLoginError {
  color: crimson;
  background: #f1f3f2;
  border-radius: 10px;
  margin-left: 19%;
  margin-right: 14%;
  height: 55px;
  padding-top: 8px;
}

/* in setting of admin page */
.choosingOpt1 {
  margin-top: 20vh;
  margin-left: 22%;
  /* margin-right: 20%; */
  /* max-height: 11%; */
  height: 15%;
  min-height: 10%;
  width: 50%;
  min-width: 45%;
  border-radius: 50px;
  padding: 1%;
  background-color: #c2d3da;
  color: white;
  font-family: "Times New Roman", Times, serif !important;
  box-shadow: 5px 5px 10px 6px rgba(0, 0, 0, 0.2),
    0 12px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: -3px 2px 4px #000000;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}

.choosingOpt2 {
  margin-top: 6vh;
  margin-left: 22%;
  /* margin-right: 20%; */
  /* max-height: 11%; */
  height: 15%;
  min-height: 10%;
  width: 50%;
  min-width: 45%;
  border-radius: 50px;
  padding: 1%;
  background-color: #c2d3da;
  color: white;
  font-family: Alegreya;
  box-shadow: 5px 5px 10px 6px rgba(0, 0, 0, 0.2),
    0 12px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: -3px 2px 4px #000000;
  cursor: pointer;
  overflow: hidden;
}

.errs {
  color: red;
  text-shadow: none !important;
}

.createAdminInput {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.createAdminCss {
  width: 40vw;
  margin-top: 2%;
  margin-left: 25%;
  /* margin-right: 30%; */
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  /* border: solid; */
  border-radius: 45px;
  background-color: #c2d3da;
  box-shadow: 3px 8px 8px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: cornflowerblue;
  font-weight: bold;
  color: white;
  font-family: "Times New Roman", Times, serif !important;
  box-shadow: 5px 5px 10px 6px rgba(0, 0, 0, 0.2),
    0 12px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: -3px 2px 4px #000000;
  font-size: larger;
}

.choosingOpt1:hover {
  background-color: #81a3a7;
  background: #81a3a7;
  transition: 1s;
}

.choosingOpt2:hover {
  background-color: #81a3a7;
  background: #81a3a7;
  transition: 1s;
}

.createAdminBackBtn {
  height: 10% !important;
  width: 25%;
  padding-left: 5% !important;
  padding-right: 5% !important;
  /* margin-left: -39%; */
  /* margin-top: -50%; */
  margin-right: 10%;
  border-radius: 30px;
  background-color: #0878a4;
  border: none !important;
  font-weight: bold;
  /* position: relative; */
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createAdminBtn {
  height: 10% !important;
  width: 25%;
  padding-left: 2% !important;
  padding-right: 2% !important;
  border-radius: 30px;
  background-color: #0878a4;
  border: none !important;
  font-weight: bold;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  margin-left: 1px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
}

.row::-webkit-scrollbar {
  width: 0 !important;
}

.imageSlide {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.mainSliderrrr {
  max-height: 75vh;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2%;
}

.carousel .thumbs-wrapper {
  display: none;
}

.carousel .slide {
  background: white !important;
  padding: 2vh;
}

.carousel-status {
  display: none;
}
.navi {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;

  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #282828;
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu {
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 22;
  overflow: hidden;
}

/* scrollbar configuration */
/* .menu::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #4e4e50;
  border-radius: 25px;
} */

.navBarName {
  font-family: "Calibri", Times, serif;
  text-shadow: 2px 2px 4px #000000;

  color: #adadad;
  margin-left: 39vh;
  margin-right: 39vh;
  margin-bottom: 0vh;
  border-radius: 25%;
  background-color: #001f3f;
}

/* for links in the common nav bar  */
.navBarLinks {
  padding-right: 3vh;
  padding-left: 3vh;
  font-family: "Calibri", Times, serif;
  text-shadow: 2px 2px 4px #000000;
  font-size: 20px;
  color: #adadad;
}

.navBarLinks:hover {
  color: rgb(76, 51, 99);
}

.menuContainer {
  /* display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(13, 1fr);
  box-sizing: border-box;
  grid-gap: 10px; */
  background-color: gray;
  height: 100%;
}

.menuContainer #genericMenuItems {
  border-radius: 45px;
}

.navigationBar {
  position: sticky;
  position: -webkit-sticky;
  top: 10px; /* required */
}

.elabContainer {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  height: 110vh;
  width: 100%;
  grid-auto-flow: dense;
  background-color: #1a1a1d;
}

.navi_In_elab {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  position: sticky;
  position: -webkit-sticky;
  top: 1px; /* required */
  margin-top: 5px;
  margin-bottom: 12px;
  z-index: 1;
  color: #adadad;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #282828;
}

.elabContainer .vertical_menu {
  grid-row-start: 2;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 3;
}

.vertical_menu {
  /* display: grid; */
  /* grid-template-rows: repeat(10, 1fr); */
  /* grid-template-columns: repeat(4, 1fr); */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  grid-auto-flow: dense;
  top: 100px;
  grid-gap: 2vh;
  border-radius: 25px;
}

.Elab_details {
  grid-row-start: 2;
  grid-row-end: 12;
  grid-column-start: 3;
  grid-column-end: 13;
}

.sideBarText-admin {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #adadad;
  font-family: "Calibri", Times, serif;
  text-shadow: 2px 2px 4px #000000;
  overflow: hidden;
}

.container-fluid {
  grid-row-start: 1;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 5;
  /* border-radius: 25px; */
  background-color: #282828;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vertical_menu #menu_items {
  border-radius: 4vh;
  transition: border-radius 1s;
  padding: 2vh;
  font-size: 1.5vh;
}

#selected_item_design_change {
  border-radius: 0px;
  transition: border-radius 1s;
  padding: 2vh;
}

#pointer {
  /* width: 200px;
  height: 40px;*/
  position: relative;
  background: grey;
  transition: 1s;
  transition: font-size 0.5s;
  padding: 2vh;
  font-size: 2vh;
  font-size: 1.5vh;
}
/* #pointer:after {

  content: "";
  position: absolute;
  left: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
} */
#pointer:before {
  content: "";
  position: absolute;
  right: -4vh;
  bottom: 0px;
  width: 0px;
  height: 0px;
  border-left: 3.5vh solid gray;
  border-top: 5.5vh solid transparent;
  border-bottom: 5vh solid transparent;
  transition: right 1s;
}

/* for the details component*/
.Alldetails {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  grid-auto-flow: dense;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  grid-gap: 2vh;
}

.Text_Details {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 5vh;
  /* overflow: scroll; */
  height: auto;
  grid-row: 1/11;
  color: #adadad;
  font-family: "Calibri", Times, serif;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-color: #282828;
}

.elabText {
  font-size: 3vh;
  height: 80%;
  margin: 16px;
  padding-top: 14px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
}

/* scrollbar configuration */
.elabText::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.elabText::-webkit-scrollbar-track {
}

.elabText::-webkit-scrollbar-thumb {
  background-color: #4e4e50;
  border-radius: 25px;
}

#Text_Details_Transform_before {
  grid-column: 1/5;
  transition: grid-column-end 4s;
}

#Text_Details_Transform-after {
  grid-column: 1/3;
  transition: grid-column-end 4s;
  border-radius: 25px 0px;
}

/*for the imageslider in elaboration page*/
.main {
  text-align: center;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* for image in the bottom slider */
.image {
  height: 12vh;
  width: 12vh;
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  line-height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*  on clicking the image tab */
#imageClick_before {
  border: solid;
  border-color: #adadad;
  transition: 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgStyle {
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.elabHeading {
  font-size: 75%;
  overflow: hidden;
  text-decoration: underline;
}

.imgStyle:hover {
  border: solid;
  border-color: #adadad;
  transition: 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.noImageMsg {
  color: #ff851b;
  font-family: "Calibri", Times, serif;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 6vh;
  margin-bottom: 6vh;
  font-size: 4vh;
}

.image-container {
  vertical-align: middle;
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 17vh;
}

/* scrollbar configuration */
.image-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.image-container::-webkit-scrollbar-track {
  /* border: 1px solid black; */
  /* background-color: #3d9970; */
}

.image-container::-webkit-scrollbar-thumb {
  background-color: #4e4e50;
}

.col-sm-4 {
  border-style: solid;
  height: 15vh;
  max-width: 25vh;
  height: 20vh;
  width: 20vh;
  font-size: 2vh;
  padding: 5vh;
}

.prev,
.next {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;

  transition: 0.6s ease;
}
.next {
  margin-left: 5px;
}
.prev {
  margin-right: 5px;
}
.prev:hover,
.next:hover {
  color: white;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.Image_Info {
  margin-left: 4px;
  margin-right: 4px;
  overflow: auto;
  height: auto;
  grid-row: 11/14;
  grid-column: 1/5;
  background-color: #282828;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* scrollbar configuration */
.Image_Info::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.Image_Info::-webkit-scrollbar-track {
}

.Image_Info::-webkit-scrollbar-thumb {
  background-color: #4e4e50;
  border-radius: 25px;
}

img {
  margin: 0px;
}

#EnlargeImage {
  visibility: hidden;

  grid-row: 1/10;
  grid-column: 3/5;
}

#EnlargeImageShow {
  visibility: visible;
  grid-row: 1/11;
  grid-column: 3/5;
}

.EnlargedImageClass {
  display: grid;
  grid-template-rows: repeat(14, 1fr);
  grid-template-columns: repeat(15, 1fr);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  grid-auto-flow: dense;
  grid-gap: 2vh;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-color: #282828;
  border-radius: 0px 25px;
}

.closing_icon {
  grid-column: 13/16;
  grid-row: 1/2;
  color: #adadad;
  /* background-image: url("https://www.flaticon.com/authors/freepik"); */
  cursor: pointer;
  font-family: "Calibri", Times, serif;
  text-shadow: 2px 2px 4px #000000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.ImageHere {
  grid-column: 2/15;
  grid-row: 2/12;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#caption {
  grid-column: 1/16;
  grid-row: 12/15;
  color: #adadad;
  font-family: "Calibri", Times, serif;
  text-shadow: 2px 2px 4px #000000;
}

/* admin side nav */

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none; /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

/* for admin page container */

.AdminPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(15, 1fr);
  box-sizing: border-box;
  grid-auto-flow: dense;
  grid-gap: 0vh;
}

/* for admin side nav */
.AdminSideNav {
  grid-column: 1/4;
  grid-row: 3/14;
}

.AdminSideNav {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(1, 1fr);
  box-sizing: border-box;
  height: 80vh;
  width: 100%;
  grid-auto-flow: dense;
  /* position: sticky;
  position: -webkit-sticky; */
  top: 100px;
  grid-gap: 2vh;
}

.AdminUpperMenu {
  grid-column: 1/16;
  grid-row: 2/2;
}

.AdminNavBar {
  grid-column: 1/16;
  grid-row: 1/1;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #282828;
  position: sticky;
  top: 0;
  z-index: 1;
}

.adminUpperTab {
  display: grid;
  /* grid-template-rows: repeat(6, 1fr); */
  grid-template-columns: repeat(10, 1fr);
  /* box-sizing: border-box; */
  height: 100%;
  /* width: 100%; */
  grid-auto-flow: dense;
}

.userName {
  grid-column: 7/11;
  grid-row: 4/6;
  border-style: groove;
}

.signOut:hover {
  background: grey;
}

.AdminUpperMenuTab {
  grid-column: 3/11;
  grid-row: 6/7;
}

/* styling the tabs */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;
}

nav li a {
  padding: 0 10px;
}

#content {
  border: 1px solid;
}

#selected {
  padding-bottom: 3px;
  background: white;
}

#tabListItem:hover {
  background-color: grey;
}

.crossSign {
  float: right;
  margin-right: 3%;
  width: 12%;
  border-radius: 50%;
}

.crossSign:hover {
  background-color: gray;
  transition: 1.5s;
}

.menuTabText {
  float: left;
  margin: 0px;
  font-size: 90%;
  width: 72%;
  overflow: hidden;
  margin-left: 10%;
  font-family: Arial;
}

#menu_items_Admin {
  border-radius: 4vh;
  transition: border-radius 1s;
  padding: 2vh;
  font-size: 1.5vh;
}

#menu_items_Admin :hover {
  background-color: grey;
}

.container-fluid-admin {
  grid-row-start: 1;
  grid-row-end: 7;

  background-color: #282828;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

/* admin detail view */

.adminDetailView {
  grid-column: 4/16;
  grid-row: 3/14;
}

.adminDetailView {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  box-sizing: border-box;
  width: 100%;
  grid-auto-flow: dense;
  /* position: sticky;
  position: -webkit-sticky; */
  top: 100px;
  grid-gap: 2vh;
}

.allDetailDiv {
  grid-column: 1/7;
  grid-row: 1/7;
  overflow-y: auto;
  /* border: none !important; */
  height: 80vh;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuTabs {
  float: left;
  width: 13vw;
  margin: 0vh;
  margin-left: 3vw;

  cursor: pointer;
}

#menuTabsId {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px 50px;
}

/* the onclicked after clicked in menu tabs */
#menuTabsIdClicked {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: grey;
  border-radius: 50px 15px;
}

/* for the back button */
.getBack {
  grid-column: 1/2;
  grid-row: 1/2;
  border: none !important;
  display: none;
}

.btn-primary {
  padding-left: 20%;
  padding-right: 20%;
  height: 35%;
}

/*for sidenav nar in elaboration page*/
#gridViewforAdmin {
  height: 100%;
}

/* scrollbar configuration */
#gridViewforAdmin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#gridViewforAdmin::-webkit-scrollbar-track {
  /* border: 1px solid black; */
  /* background-color: #3d9970; */
}

#gridViewforAdmin::-webkit-scrollbar-thumb {
  background-color: #4e4e50;
  border-radius: 25px;
}

/* for menuitems layout in admin */
.MenuData {
  height: 100%;
  width: 100%;
  position: relative;
}

/* setting admin grids blocks size */
.col-sm-4 {
  height: 20vh;
  width: 20vh;
}

.heading {
  color: salmon;
  font-size: 20px;
}

.details {
  font-size: 15px;
  overflow: auto;
  height: 100%;
}

.deleteIcon {
  height: 10%;
  width: 10%;
  float: right;
}

.EditButton {
  height: 10%;
  width: 10%;
  float: left;
}

/* for menu data selector */
#demo {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#demo .wrapper {
  display: inline-block;
  width: 100%;
  height: 20%;
  position: relative;
}

#demo .parent {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  border-radius: 5px;
  background: #f9f9f9;
  border: 1px solid #aaa;
  border-bottom: 1px solid #777;
  color: #282d31;
  font-weight: bold;
  z-index: 2;
  position: relative;
  -webkit-transition: border-radius 0.1s linear, background 0.1s linear,
    z-index 0s linear;
  -webkit-transition-delay: 0.8s;
  text-align: center;
}

#demo .parent:hover,
#demo .content:hover ~ .parent {
  background: #fff;
  -webkit-transition-delay: 0s, 0s, 0s;
}

#demo .content:hover ~ .parent {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 0;
}

#demo .content {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  height: 0;
  width: 100%;
  /* padding-top: 30px; */
  -webkit-transition: height 0.5s ease;
  -webkit-transition-delay: 0.4s;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#demo .wrapper:active .content {
  height: 123px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}

#demo .content:hover {
  height: 123px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}

#demo .content ul {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#demo .content ul a {
  text-decoration: none;
}

#demo .content li:hover {
  background: #eee;
  color: #333;
}

#demo .content li {
  list-style: none;
  text-align: left;
  color: #888;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  padding-left: 10px;
  border-top: 1px solid #ccc;
}

#demo .content li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* pop up permission given */
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  left: 30%;
  top: 30%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 45%;
  height: 35%;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
  margin-top: 40%;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.form-container .submitCaption {
  background-color: olive;
}

.form-container .OK {
  background-color: green;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* for sidenav bar  */
#sideNavRow {
  border-style: "solid";
  margin-top: 4%;
  border-radius: 25px;
  height: "12vh";
  box-shadow: 2px 2px #7fdbff;
}

.text {
  padding-top: 10%;
  font-family: papyrus;
  font-size: 12px;
}

/* for edit menu */
.form-popup-Edit {
  position: relative;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.EditTitle {
  float: right;
  scroll: auto;
}

.EditValue {
  float: right;
  scroll: auto;
}

.EditValue1 {
  float: center;
  scroll: auto;
}

/* for editmenu loader icon */
.loader {
  margin: -8px;
  display: none;
  position: absolute;
  left: 30%;
  top: 30%;
}

.loaderImage {
  margin: -8px;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
}

.loaderAdminLogin {
  margin: -40px;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
}

.loader1 {
  margin: -8px;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
}

.additionIcon {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  padding-top: 10%;
  padding-left: 10%;
}

.additionIcon:hover {
  background-color: #888;
  transition: 1s;
}

.gallery {
  height: 80%;
  margin: 10px 50px;
  overflow: auto;
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

/* for mainpage menu */
.mainMenu {
  height: 80%;
  margin: 10px 50px;
  overflow: auto;
}

.mainMenu div {
  transition: 1s;
  padding: 15px;
  width: 200px;
}

.galleria {
  height: 60%;
  margin: 10px 50px;
  overflow: auto;
}

.galleria img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}

.galleria img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.allRefering {
  height: 100%;
  wiidth: 100%;
}

.removePicButton {
  width: 10%;
}

.fss-subview-item subview-a {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/89.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fss-subview-item fss-active {
  background-image: url("https://mdbootstrap.com/wp-content/uploads/2015/10/cover-ca-compressor2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fss-mainview {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

fss-mainview {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* add image button mainimage slider */
.addImage {
  /* padding-bottom: 50%; */
}

/* selecting and unselecting image in main image slider */
#startImg {
  border: none;
}

#selectImg {
  border: 1px solid #000;
}

/* for caption page */
#captionSubmit {
}

.mainImageSlider {
  width: 100%;
  max-height: 100%;
}

.sideTab {
  margin: 10%;
}

/* for side bar item in elaboration page */
.row-sm-4 {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.row-admin {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-text {
  margin-top: 9vh;
  font-size: 3vh;
  font-family: Alegreya;
  font-weight: bold;
  color: #525b56;
}

.cardhome {
  border-radius: 70px;
}

.cardhome :hover {
  background: grey;
  transition: 0.5s;
}

.cardAdmin {
  border-radius: 70px;
}

.removeAdmin {
  position: absolute;
  width: 24vw !important;
  transition: 0.5s ease;
  opacity: 0;
}

.removeAdmin1 {
  width: 24vw !important;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
}

.adminText {
  background-color: grey;
  border-radius: 30px;
}

.cardAdmin:hover .removeAdmin {
  opacity: 1;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.3);
}

.cardAdmin:hover .removeAdmin1 {
  opacity: 0.3;
}

.card-body {
  height: 26vh;
  border-collapse: separate;
  border-radius: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideBarText {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  color: #adadad;
  font-family: "Calibri", Times, serif;
  text-shadow: 2px 2px 4px #000000;
  overflow: hidden;
}

/* for sidebar item  */
#rowTest_beforeClick {
  margin-top: 2px;
  height: 10vh;
  background-color: #0c0032;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rowTest_beforeClick:hover {
  background-color: #001f3f;
}

#rowTest_afterClick {
  margin-top: 2px;
  height: 10vh;
  background-color: #001f3f;

  transition: visibility 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* for admin side nav */
/* for sidebar item  */
#rowTest_beforeClick-admin {
  margin: 1vh;
  height: 12vh;
  background-color: #0c0032;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rowTest_beforeClick-admin:hover {
  background-color: #001f3f;
}

#rowTest_afterClick-admin {
  margin: 1vh;
  height: 12vh;
  background-color: #001f3f;

  transition: visibility 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
  width: 100%;
}
